# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Opencode
.agents/
skills-lock.json

# Misc
*.local
